{% extends 'base.html' %}

{% block content %}

<script>
	function delete_topic(topic_id){
		if (confirm('是否删除')){
			window.location.href = '{% url 'learning_logs:index' %}'+'delete_topic/'+topic_id;
		};
	};
</script>

<br>
<a href="{%url 'learning_logs:new_topic' %}">添加新主题</a>
<h2>主题</h2>

<ul>
	{% for topic in topics %}
	<li><a href="{% url 'learning_logs:open_topic' topic.id %}"><h2>{{topic}}</h2></a>
		<p><font>&nbsp&nbsp&nbsp&nbsp</font>{{topic.date_added}}</p>
		&nbsp&nbsp&nbsp&nbsp
		<button onclick="delete_topic({{topic.id}})" style="font-size:17px;"><img
			src="{% url 'learning_logs:index' %}static/delete_icon.png" width="15px" height="19px"/>&nbsp删除</button>
		<hr>
	</li>
	{% empty %}
	<hr/>
	<h3>没有笔记，快去创建吧</h3>
	<a href="{% url 'learning_logs:index' %}">主页</a>
	<a href="{% url 'learning_logs:new_topic' %}">新建</a>
	<hr/>
	{% endfor %}
</ul>



{% endblock content %}
